{% extends 'base.html' %}
{% block title %} products {% endblock %}
{% block content %}

    <div class="container my-3 py-3>
        <h3 class=" text-center">Products</h3>
        <h3 class="text-center">Here are our products</h3>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card" style="width: 18rem;">
                    <img src="iphone-12.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 12</h5>
                        <p class="card-text">SThe iPhone 12, released in October 2020, features a 6.1-inch Super Retina
                            XDR OLED
                            display, A14 Bionic chip, 5G connectivity, and a dual 12MP camera system.</p>
                        <p class="card-text">Kshs. 40,000 only.</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="m5-macbook-air.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MacBook Air M5</h5>
                        <p class="card-text">Released in March 2026, the MacBook Air with M5 chip features a 10-core CPU
                            with the
                            world's fastest core, providing up to 4x faster AI performance than M4 models. Available in
                            13.6-inch
                            and 15.3-inch sizes, it boasts a fanless, thin design with up to 18 hours of battery life,
                            starting from
                            $1,099 with 512GB storage and 16GB RAM..</p>
                        <p>Kshs. 250,000 only</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="calc.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Calculator</h5>
                        <p class="card-text">Curved and shapely desk calculator with dual power (solar and battery).
                            The sides of the calculator are contrasting in colour and form a pleasant contrast. The flat
                            keys of the
                            calculator are printed in matching colours.
                            The display shows 10 digits and the battery is included.</p>
                        <p>Kshs. 27,750 only</p>
                        <a href="#" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}


